body{

}

div {
    height: 100px; 
}

.title{
    font-family: 'Comic Sans MS';
}

.outlined {
    border: solid;
}

.text-rainbow-animation {
    width: fit-content;
    height: fit-content;
    font-family:'Comic Sans MS';
    font-size:40px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 60s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 3000px;
    }
}

nav{
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn{
    background-color: green;
    color: white;
    padding: 1em;
    display: inline-block;
}
.btn:hover{
    background-color:darkorange;
}
.btn:active{
    
}
.btn:focus{
    
}